@charset "UTF-8";

@media screen and (min-width: 768px){

    main article{
        max-width: 600px;
    }

    #burger{
        display: none;
    }

    menu{
        display: block;
    }

    menu li{
        display: inline-block;
        margin-right: 10px;
    }

    menu a{
        padding: 10px;
    }

}